*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

table, th, td {
  text-align: center;
    border: 2px dashed black;}

table {
    border-collapse: collapse;}

th, td {
    padding: 8px;}
